@charset "utf-8";
/* 样式重置 */
body,h1,h2,h3,h4,h5,h6,hr,p,dl,dt,dd,ul,ol,li,form,fieldset,button,input,textarea,img,th,td,select{margin:0;padding:0;}
body{font:12px/1.14 "Microsoft YaHei",Arial,"\5fae\8f6f\96c5\9ed1";word-wrap:break-word;color:#3e3e3e;background:#FFF;text-align:center;-webkit-text-size-adjust:none;-webkit-tap-highlight-color:rgba(0,0,0,0);}
textarea,input,button,select,legend{font:12px/1.14 arial,"\5fae\8f6f\96c5\9ed1";color:#333;outline:none;border:none;*font-size:100%;*border:0;vertical-align:top;background:none;}
h1,h2,h3,h4,h5,h6{font-size:16px;font-weight:normal;}
a{text-decoration:none;color:#3e3e3e;outline:none;zoom:1;line-height:normal}
a:hover{text-decoration:none;outline:none;color:#cd1c00;}
a:active{star:expression(this.onFocus=this.blur());}
table{border-collapse:collapse;border-spacing:0;}
caption,th{text-align:left;font-weight:normal;}
img{border:none;vertical-align:top;}
textarea{resize:none;overflow:auto;}
ul,ol,li{list-style:none;vertical-align:top}
i,em{font-style:normal;}
a,img{-webkit-touch-callout:none;}
input[type=submit],
input[type=reset],
input[type=button]{filter:chroma(color=#000000);} 
::-moz-placeholder{color:#FFF;}
::-webkit-input-placeholder{color:#FFF;}
:-ms-input-placeholder{color:#FFF;}
img{transition:0.4s all;}
.bg100{-webkit-background-size:100% 100%!important;-moz-background-size:100% 100%!important;-o-background-size:100% 100%!important;-,s-background-size:100% 100%!important;background-size:100% 100%!important;}
body,html{position:relative;}
/* 公共样式 */
.fl{float:left;display:inline;}
.fr{float:right;display:inline;}
.prz{position:relative;zoom:1;}
.pra{position:absolute;}
.clearfix{*zoom:1;}
.clearfix:after{content:".";display:block;height:0;visibility:hidden;clear:both;}
.cleargap{font-size:0;letter-spacing:-8px;text-align:left;}
.ibox{display:inline-block;*display:inline;*zoom:1;vertical-align:top;font-size:12px;letter-spacing:normal;}
.justify{text-align:justify!important;text-justify:inter-ideograph!important;}
.justify_fix{display:inline-block;*display:inline;*zoom:1;width:100%;height:0;overflow:hidden;}
.responLayout{overflow:hidden;}
.layoutItem{padding-bottom:32767px;margin-bottom:-32767px;}
.usn{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;-o-user-select:none;user-select:none;}
.fz14{font-size:14px!important}
.song{font-family:"宋体","\5b8b\4f53";}
.arial{font-family:Arial}
.img-container{display:block;position:relative;zoom:1;overflow:hidden;background:url(../images/loading_1.gif) no-repeat center;}
.img-container img{display:block;opacity:0;}
.img-responsive,
.edits img{max-width:100%;width:auto\9;height:auto;-ms-interpolation-mode:bicubic;_width:auto;}
.ieBox{*behavior:url(./js/boxsizing.htc)}
.ellipsis{overflow:hidden;}
.mr0{margin-right:0!important;}
.mb10{margin-bottom:10px!important;}
.nobor{border:none!important;}
.nobg{background:none!important;}
.edits li{list-style-type:disc;list-style-position:inside;}
.bold{font-weight:bold!important;}	
.w1200{width:1260px;margin:0 auto;text-align:left;}
.w1330{width:1330px;margin:0 auto;text-align:left;}

body,html{width:100%;height:100%;min-width:1260px;}
.locked{overflow:hidden;}
.logo{width:8.645%;height:0;padding-bottom:8.854%;left:0;top:50%;margin-top:-4.3225%;background:url(../images/newLogo.png) no-repeat right top;background-size:auto 100%; z-index: 999;}
.logo .linewaper{width:24.096%;right:7.831%;height:0;padding-bottom:16.5%;top:64%;}
.logo .line{display:block;width:100%;height:1px;background:#FFF;}
.logo .line-2{margin-top:30.2%;}
.logo .line-3{margin-top:30.2%;}

#newBridge .nb-icon-base,#newBridge .nb-icon-base .nb-icon-inner-wrap{border-radius:0px !important;}
#newBridge .icon-left-bottom{width:8.645% !important; left:0px !important;}
.nb-icon-inner-wrap{height:71px!important;width: 100%!important;background-repeat: no-repeat!important;background-position: center bottom!important; background-size:contain!important;}


/* 761 */
.menuContent{width:39.635%;height:100%;left:-39.635%;top:0;background:#102233;z-index:101;position:fixed!important;}
.menuContent .smallSec{width:100%;top:22.996%;box-sizing:border-box;padding-left:9.855%;opacity:0;}
.menuContent .mlogo{display:block;width:9.198%;height:0;padding-bottom:9.198%;background:url(../images/smallBig.png) no-repeat;left:9.855%;top:20.348%;}
.menuContent .mlogoLine{display:block;width:9.198%;height:1px;overflow:hidden;background:#FFF;left:9.855%;top:28%;margin-top:10px;}
.menuContent .butX{display:block;width:3.416%;height:0;padding-bottom:3.547%;left:12.877%;top:30%;margin-top:17px;margin-left:2.5%;}
.menuContent .but{width:100%;height:1px;background:#999;display:block;cursor:pointer;transition:all 0.3s;}
.menuContent .butL{transform:rotate(45deg);}
.menuContent .butR{transform:rotate(-45deg);}
.menuContent .butX:hover .butL,
.menuContent .butX:hover .butR{background:#fff;}

.iconpos{right:0;bottom:0;width:55px;z-index:10;position:fixed;right:0;bottom:0;display:none;}
.iconpos-1{display:block;}
.iconses{display:block;width:55px;height:55px;}
.message{background:url(../images/message.png) no-repeat;}
.phones{background:url(../images/phones.png) no-repeat;width:300px;transition:all 0.6s;opacity:0.5;height:55px;-webkit-background-size:300px 110px!important;-moz-background-size:300px 110px!important;-o-background-size:300px 110px!important;-ms-background-size:300px 110px!important;}
.backTop{background:url(../images/backToTop.png) no-repeat;}
.phones:hover{margin-left:-192px;opacity:1;height:110px}
.important{width:29.84375%;height:0;padding-bottom:12.03125%;background:url(../images/important.jpg) no-repeat;display:none}
.overdelay{width:100%;height:100%;background:rgba(0,0,0,0.5);display:none}


.mlist{text-align:left;top:25.8%;left:32%;width:55%;}
.mlist a{display:block;padding-bottom:5px;margin-bottom:18px;border-bottom:1px solid transparent;}
.mlist span{vertical-align:bottom;margin-top:8px;opacity:0}
.mlist .chin{color:#999;font-size:18px;}
.mlist .engs{color:#5e656e;font-size:13px;padding-left:10px;}
.mlist a.active{border-bottom:1px solid #0093d5;}
.mlist a.active span,
.mlist a:hover span{color:#0093d5;}


.footer{background:#333436;padding:34px 0 0 0;}
.footer .inner{width:738px;margin:0 auto;text-align:left;overflow:hidden;color:#a69381;padding-bottom:20px;}
.footer .infos{width:630px;}
.footer .erCode{width:87px;height:87px;border:1px solid #85776b;}
.footer .erCode .imgBox{display:block;width:79px;height:79px;margin:4px auto 0 auto;}
.footer .erCode img{width:100%;height:100%;vertical-align:top;}
.footer .addrTels{overflow:hidden;border-bottom:1px solid #665e57;padding:0 20px 16px 20px;}
.footer .addr{height:28px;line-height:28px;padding-left:42px;background:url(../images/addr.png) no-repeat;margin-left: 26px;}
.footer .tels{padding-left:42px;background:url(../images/tels.png) no-repeat;height:28px;line-height:16px;padding-right:35px;}
.cprt{width:100%;background:#333436;color:#888888;padding:15px 0;}
.cprt1{border-top: 1px solid #665e57;}
.footer .flinks{overflow:hidden;padding-top:15px;}
.footer .flinks a{/*float:left;*/ display:inline-block; overflow:hidden;padding-right:21px;}
.footer .flinks span{color:#FFF;font-size:14px;float:left;padding-right:6px;}
.footer .flinks i{color:#a69381;float:left;margin-top:2px;}
.footer .flinks a:last-child{padding-right:0;}

#backToTop{width:5.2%;height:0;padding-bottom:5.2%;background:url(../images/backToTop.png);position:fixed;right:10px;bottom:50px;z-index:999999;background-size:cover;display:none!important;}


/* media */
/* 横屏 */
@media screen and (orientation:landscape){
    
}
/* 竖屏 */
@media screen and (orientation:portrait){
    
}
/* 窗口宽度<960,设计宽度=768 */
@media screen and (max-width:959px){
    
}
/* 窗口宽度<768,设计宽度=640 */
@media screen and (max-width:767px){
    
}
/* 窗口宽度<640,设计宽度=480 */
@media screen and (max-width:639px){
    
}
/* 窗口宽度<480,设计宽度=320 */
@media screen and (max-width:479px){
    
}
/* windows UI 贴靠 */
@media screen and (-ms-view-state:snapped){
    
}
/* 打印 */
@media print{
    
}




























